<div class="container" id="wrap">
  <div class="row">
    <div class="twelve columns quarterTopMargin">
      <a href="/"><h4>BuJo Dojo</h4></a>
      <p>This app is going to be awesome, I promise...</p>
    </div>
  </div>

  {{!--task creation--}}
  <div class="row">
    <div class="twelve columns">
      <form>
        <select id="category-select" name="category" class="dropdown-text">
          <option value="task">Task</option>
          <option value="event">Event</option>
          <option value="note">Note</option>
          <option value="research">Research</option>
        </select>
        <input type="text" id="item-text" name="item">
        <button id="add-item" type="submit">Add Task</button>
      </form>
    </div>
  </div>

  {{!--task view--}}
  <div class="row">
    <div id="item-list" class="twelve columns">
      <table class="u-full-width">
        <thead>
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
          </tr>
        </thead>
        <tbody>
      {{!--<ul class="fa-ul">--}}
        {{#each tasks}}
          {{#unless this.completed}}
            <tr>
              <td class="{{this.category}}" id="item-{{this.id}}"><span data-category="{{category}}" data-completed="{{completed}}"><i class="fa fa-bath" aria-hidden="true"></i></span></td>
              <td><span class="list-item">{{item}}</span></td>
              <td><button data-id="{{id}}" class="destroy-item" type="submit">X</button>
              <button data-id="{{id}}" class="edit-item" type="submit">Edit</button></td>
            </tr>
          {{/unless}}
        {{/each}}
      
      <ul class="fa-ul">
        {{#each tasks}}
          {{#if this.completed}}
            <li>
              <span class="completed-item">{{item}}</span>              
              <button data-id="{{id}}" class="edit-item" type="submit">Edit</button>
            </li>
          {{/if}}
        {{/each}}
      </ul>

      {{!-- Leave me in here, please --}}
      <div id="test"></div>
      </table>
    </div>
  </div>
</div>