<div class="container">
  <div class="row">
    <div class="twelve columns" style="margin-top: 25%">
      <a href="/"><h4>BuJo Dojo</h4></a>
      <p>This app is going to be awesome, I promise...</p>
    </div>
  </div>
  {{!--task creation--}}
  <div class="row">
    <div class="twelve columns">
      <form>
        <input type="text" id="item-text" name="item">
        <button id="add-item" type="submit">Add Task</button>
      </form>
    </div>
  </div>
  {{!--task view--}}
  <div class="row">
    <div id="item-list" class="twelve columns">
      <ul>
        {{#each tasks}}
          {{#unless this.completed}}
            <li><span class="{{completed}} list-item">{{item}}</span>
              <button data-id="{{id}}" class="destroy-item" type="submit">X</button>
              <button data-id="{{id}}" class="edit-item" type="submit">Edit</button>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
      <ul>
        {{#each tasks}}
          {{#if this.completed}}
            <li><span class="completed-item">{{item}}</span></li>
          {{/if}}
        {{/each}}
      <div id="test"></div>
    </div>
  </div>
</div>