
<div class="container" id="wrap">

  {{!--task creation--}}
  <div class="row">
    <div class="twelve columns top-page-margin">

      <form id="new-item">
        <select id="category-select" name="category" class="dropdown-text">
          <option value="task">Task</option>
          <option value="event">Event</option>
          <option value="note">Note</option>
          <option value="research">Research</option>
        </select>

          <input type="text" id="item-text" name="item" placeholder="Hey! Enter an item here">
          <input id="datepicker" type="text" placeholder="Pick a date">

        <button id="add-item" type="submit">Add Task</button>
      </form>

    </div>
  </div>

  {{!--task view--}}
  <div class="row">
    <div id="item-list" class="twelve columns">

      <ul class="fa-ul">
        {{#each tasks}}
          {{#unless this.completed}}
            <li data-category="{{category}}" data-completed="{{completed}}">
              <span class="list-item">{{item}}</span>
                <button data-id="{{id}}" class="edit-item" type="submit">Edit</button>
                <button data-id="{{id}}" class="destroy-item" type="submit">X</button>
            </li>
          {{/unless}}
        {{/each}}
      </ul>

      <ul class="fa-ul">
        {{#each tasks}}
          {{#if this.completed}}
            <li data-category="{{category}}" data-completed="{{completed}}">
              <span class="completed-item">{{item}}</span>              
                <button data-id="{{id}}" class="edit-item" type="submit">Edit</button>
            </li>
          {{/if}}
        {{/each}}
      </ul>
      
      {{!-- Leave me in here, please --}}      
      <div id="test"></div>
    </div>
  </div>
</div>