<div class="container" id="wrap">

  <div class="row">

    <div class="twelve columns top-page-margin">

      <div class="row weekly-view" id="day-one-div">

        <a href=""><span class="date" id="day-one-span" data-date=""></span></a>

        <ul class="fa-ul">
          {{#each dayOne}} {{#unless this.completed}}
          <li data-category="{{category}}" data-completed="{{completed}}">
            <span class="list-item">{{item}}</span>

          </li>
          {{/unless}} {{/each}}
        </ul>

        <ul class="fa-ul">
          {{#each dayOne}} {{#if this.completed}}
          <li data-category="{{category}}" data-completed="{{completed}}">
            <span class="completed-item">{{item}}</span>

          </li>
          {{/if}} {{/each}}
        </ul>

      </div>

      <div class="row weekly-view" id="day-two-div">

        <a href=""><span class="date" id="day-two-span" data-date=""></span></a>

        <ul class="fa-ul">
          {{#each dayTwo}} {{#unless this.completed}}
          <li data-category="{{category}}" data-completed="{{completed}}">
            <span class="list-item">{{item}}</span>

          </li>
          {{/unless}} {{/each}}
        </ul>

        <ul class="fa-ul">
          {{#each dayTwo}} {{#if this.completed}}
          <li data-category="{{category}}" data-completed="{{completed}}">
            <span class="completed-item">{{item}}</span>

          </li>
          {{/if}} {{/each}}
        </ul>

      </div>

      <div class="row weekly-view" id="day-three-div">

        <a href=""><span class="date" id="day-three-span" data-date=""></span></a>

        <ul class="fa-ul">
          {{#each dayThree}} {{#unless this.completed}}
          <li data-category="{{category}}" data-completed="{{completed}}">
            <span class="list-item">{{item}}</span>

          </li>
          {{/unless}} {{/each}}
        </ul>

        <ul class="fa-ul">
          {{#each dayThree}} {{#if this.completed}}
          <li data-category="{{category}}" data-completed="{{completed}}">
            <span class="completed-item">{{item}}</span>

          </li>
          {{/if}} {{/each}}
        </ul>

      </div>

      <div class="row weekly-view" id="day-four-div">

        <a href=""><span class="date" id="day-four-span" data-date=""></span></a>

        <ul class="fa-ul">
          {{#each dayFour}} {{#unless this.completed}}
          <li data-category="{{category}}" data-completed="{{completed}}">
            <span class="list-item">{{item}}</span>

          </li>
          {{/unless}} {{/each}}
        </ul>

        <ul class="fa-ul">
          {{#each dayFour}} {{#if this.completed}}
          <li data-category="{{category}}" data-completed="{{completed}}">
            <span class="completed-item">{{item}}</span>

          </li>
          {{/if}} {{/each}}
        </ul>

      </div>

      <div class="row weekly-view" id="day-five-div">

        <a href=""><span class="date" id="day-five-span" data-date=""></span></a>

        <ul class="fa-ul">
          {{#each dayFive}} {{#unless this.completed}}
          <li data-category="{{category}}" data-completed="{{completed}}">
            <span class="list-item">{{item}}</span>

          </li>
          {{/unless}} {{/each}}
        </ul>

        <ul class="fa-ul">
          {{#each dayFive}} {{#if this.completed}}
          <li data-category="{{category}}" data-completed="{{completed}}">
            <span class="completed-item">{{item}}</span>

          </li>
          {{/if}} {{/each}}
        </ul>

      </div>

      <div class="row weekly-view" id="day-six-div">

        <a href=""><span class="date" id="day-six-span" data-date=""></span></a>

        <ul class="fa-ul">
          {{#each daySix}} {{#unless this.completed}}
          <li data-category="{{category}}" data-completed="{{completed}}">
            <span class="list-item">{{item}}</span>

          </li>
          {{/unless}} {{/each}}
        </ul>

        <ul class="fa-ul">
          {{#each daySix}} {{#if this.completed}}
          <li data-category="{{category}}" data-completed="{{completed}}">
            <span class="completed-item">{{item}}</span>

          </li>
          {{/if}} {{/each}}
        </ul>

      </div>

      <div class="row weekly-view" id="day-seven-div">

        <a href=""><span class="date" id="day-seven-span" data-date=""></span></a>

        <ul class="fa-ul">
          {{#each daySeven}} {{#unless this.completed}}
          <li data-category="{{category}}" data-completed="{{completed}}">
            <span class="list-item">{{item}}</span>

          </li>
          {{/unless}} {{/each}}
        </ul>

        <ul class="fa-ul">
          {{#each daySeven}} {{#if this.completed}}
          <li data-category="{{category}}" data-completed="{{completed}}">
            <span class="completed-item">{{item}}</span>

          </li>
          {{/if}} {{/each}}
        </ul>

      </div>

    </div>

  </div>

</div>